{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="card" style="width: 18rem;" style="margin: auto;";>
        <h3 class="d-flex justify-content-center" class="display-4">balance: {{user_cash}}</h3>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Symbol</th>
            <th>Shares</th>

        </tr>
            {% for dict in user_data%}
                <tr>
                {% for data in dict.values() %}
                    <td>{{data}}</td>
                {% endfor %}
                </tr>
            {% endfor %}

    </table>

{% endblock %}
