{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <tr>
            <th>Symbol</th>
            <th>Shares</th>

        </tr>
        <tr>
            </td>
                {% for dict in user_data%}
                    {% for data in dict.values() %}
                        <td>{{data}}</td>
                    {% endfor %}
                {% endfor %}
            </td>
        </tr>
    </table>

{% endblock %}
