{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <div>
        <th>
            {% for item in symbol%}
                {% for key in item.keys()%}
                    <td>{{}}</td>
                {% endfor %}
                {% endfor %}
        </th>
        <tr>
            {% for item in symbol%}
                {% for value in item.values()%}
                    <td>{{value}}</td>
                {% endfor %}
            {% endfor %}

        </tr>


    </div>
{% endblock %}
