{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <label class="lead">transfer the money to your pocket </label>
        <br><br>
        <div class="mb-3">
            <select autocomplete="off" autofocus class="form-control mx-auto w-auto"name="stock_name" placeholder="Stock Name" type="text">
                {% for dicts in user_data %}
                    <option> {{dicts["Name"]}} </option>
                {% endfor %}
        </div>
        <br><br>
        <input autocomplete="off" class="form-control mx-auto w-auto" min="1" name="stock_num" placeholder="Shares" type="number">
        <br>
        <button class="btn btn-primary" type="submit">Buy</button>
</form>

{% endblock %}
